.product_box{
    width: 300px;
    max-height: 470px;
    overflow: hidden;
    padding: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 7px 29px 0px rgba(109, 19, 109, 0.3);
}
.product_box img{
    width: 100%;
    height: 235px;
    object-fit: cover;
}
.description{
    margin-top: 10px;
}
.description h2{
    font-size: 28px;
    color: #333;
}
.price {
    margin: 8px 0px;
    font-size: 22px;
    color: #555;
    font-weight: bold;
}
span{
    text-decoration: line-through;
    margin-left: 10px;
    color: #999;
}
.description .location{
    font-size: 25px;
    margin-bottom: 10px;
}
.description .btn{
    margin-top: 20px;
    border: 1px solid green;
    font-weight: bold;
    cursor: pointer;
    border-radius: 40px;

}
.description .btn:hover{
    outline: none;
    background-color: green;
    color: white;
}